.hero {
  background-color: transparentize($white, 0.9);
}

.hero-body .logo {
  margin: 0 0 1rem;
  height: 10rem;
  width: auto;
}
.hero-foot{
    p {
        margin: 0;
    }
}
.made-with-bulma {
  display: block;
  img {
    width: 163px;
    height: 31px;
  }
}
