.navbar-brand {
    text-transform: uppercase;
}
.navbar-brand .brand-logo {
    color: $secondary;
    font-weight: bold;
}

.navbar-nav .nav-item.nav-link {
    text-transform: uppercase;
}

button.navbar-toggler svg {
    color: $primary;
}