section#landing-section-wrapper,
section#about-section-wrapper{
    padding-top:  $nav-height;
    height: 100vh;
}

/* * * * Landing * * * */

/* * * * About * * * */
section#about-section-wrpper [class*="col"] img {
    width: 100%;
}
