
#maintenance {
	min-height: 100vh;
	height: 100%;
	background-image: url('./img/paul-gilmore-211347-unsplash.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $secondary;

	a {
		color: $secondary;
	}
}

