/* ---------------------------------------------- /*
 * General
 /* ---------------------------------------------- */



/* ---------------------------------------------- /*
 * Typography
 /* ---------------------------------------------- */

@font-face {
    font-family: segoeui;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/segoeui/segoeui.eot");
    src: url("fonts/segoeui/segoeui.eot?#iefix") format("embedded-opentype"), url("fonts/segoeui/segoeui.woff") format("woff"), url("fonts/segoeui/segoeui.ttf") format("truetype"), url("fonts/segoeui/segoeui.svg#segoeui") format("svg");
}

@font-face {
    font-family: segoeuib;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/segoeui/segoeuib.eot");
    src: url("fonts/segoeui/segoeuib.eot?#iefix") format("embedded-opentype"), url("fonts/segoeui/segoeuib.woff") format("woff"), url("fonts/segoeui/segoeuib.ttf") format("truetype"), url("fonts/segoeui/segoeuib.svg#segoeuib") format("svg");
}

body {
    font-family: segoeui, Arial, sans-serif;
}

h1, h2, h3, h4 {
    margin: .5em 0 0.5em;
    line-height: 1.2;
    font-weight: 300;
}

h1 {
    font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

p {
    font-size: 1em;
}

/*a {
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #52BCAD;
    text-decoration: none;
}*/


/* ---------------------------------------------- /*
 * General styles
 /* ---------------------------------------------- */
 .section{
 	position: relative;
 }

.logo {
    font-family: segoeui, Arial, sans-serif;
    text-transform: uppercase;
}

.logo span{
    color:#52BCAD;

}

.logo-lx{
    font-size: 80px;
}

/* ---------------------------------------------- /*
 * Navigation
 /* ---------------------------------------------- */

 .navbar-custom {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #000000 !important;
}
.navbar-custom .nav li a,
.navbar-custom .navbar-header a{
	color:#000000;
}

.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:focus, 
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #52BCAD;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #000000;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #000000;
}

/* ---------------------------------------------- /*
 * Intro
 /* ---------------------------------------------- */
 #intro{
 	margin-top: 50px;
 }


/* ---------------------------------------------- /*
 * Profile
 /* ---------------------------------------------- */
 #profile img{
   width:250px;
   height:250px;
 }




