<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Nathan Healea</title>
  <!-- Twitter Card data -->
  <meta name="twitter:card" value="Nathan Healea Full Stack Developer " />
  <meta name="Description" content="Nathan Healea a full stack developer, programmer analyst, software engineer, developer portfolio" />
  <!-- Open Graph data -->
  <meta property="og:title" content="Webpack basic starter project" />
  <meta property="og:type" content="article" />
  <!-- <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" /> -->
  <!-- <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" /> -->
  <meta property="og:description" content="Nathan Healea a full stack developer, programmer analyst, software engineer, developer portfolio" />
  <!-- Mobile header color for Chrome, Firefox OS and Opera -->
  <!-- <meta name="theme-color" content="{{mobileHeaderColor}}"> -->
  <!-- Mobile header color Windows Phone -->
  <!-- <meta name="msapplication-navbutton-color" content="{{mobileHeaderColor}}"> -->
  <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
</head>

<body>
  <!-- Landing -->
  <section class="hero is-fullheight has-text-white">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="logo is-spaced" src="<%= require('./assets/nathan-healea-logo-white.svg') %>" alt="Nathan Healea Portfolio Logo" />
        <h1 class="title has-text-white is-spaced is-size-2-desktop is-3-tablet is-size-4-mobile">
          Full Stack Engineer | Web Developer | Software Engineer
        </h1>
        <p class=" subtitle has-text-white is-size-3-desktop is-size-4-tablet is-size-5-mobile">
          I develop applications to simplify life and work
        </p>
      </div>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="section is-medium is-primary has-text-centered is-long">
    <div class="container">
      <h2 class="title is-spaced is-size-3-desktop is-4-tablet is-size-5-mobile">Hello World; I'm Nathan</h2>
      <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">
        Since beginning my joureny as a full stack engineer, I'v developed
        databases and parsers for research grant funded projects, REST APIs
        for detecting proper english, web application to simplify processes
        and track engagements, maintained databases aggergation scripts,
        intergration multiple third party, and much more. I'm always learn to
        expand my knowledge and look for intresting problems to solve with
        skills.
      </p>
    </div>
  </section>

  <!-- Skills -->
  <section id="skills" class="section is-overlap has-text-centered">
    <div class="container is-narrow">
      <div class="box">
        <div class="columns is-centered ">
          <div class="column">
            <p class="is-icon is-spaced"><i class="fas fa-pencil-alt fa-3x"></i></p>
            <h3 class="title is-spaced is-size-4-desktop is-5-tablet is-size-6-mobile">Design</h3>
            <p class="is-size-5-desktop is-6-tablet is-size-7-mobile">I value user interfaces that empower users</p>
            <p class="list-title has-text-primary has-text-weight-bold">
              Technologies I use:
            </p>
            <ul>
              <li>HTML/HMTL5</li>
              <li>CSS/CSS3</li>
              <li>Javascript/jQuery</li>
              <li>Sass</li>
              <li>Bootstrap, Bulma</li>
              <li>VueJs</li>
              <li>Webpack, Gulp</li>
            </ul>
          </div>
          <div class="column">
            <p class="is-icon is-spaced"><i class="fas fa-code fa-3x"></i></p>
            <h3 class="title is-spaced is-size-4-desktop is-5-tablet is-size-6-mobile">Develop</h3>
            <p class="is-size-5-desktop is-6-tablet is-size-7-mobile">I write code to improve work and life</p>
            <p class="list-title has-text-primary has-text-weight-bold">
              Languages I speek:
            </p>
            <ul>
              <li>ASP.Net Fomrs, MVC, .Net Core</li>
              <li>C, C++ , C#</li>
              <li>PHP</li>
              <li>Python</li>
              <li>Nodejs</li>
              <li>Razor, Linq, Regex</li>
              <li>SQL, TSQL, PL</li>
            </ul>
          </div>
          <div class="column">
            <p class="is-icon is-spaced"><i class="fas fa-book fa-3x"></i></p>
            <h3 class="title is-spaced is-size-4-desktop is-5-tablet is-size-6-mobile">More</h3>
            <p class="is-size-5-desktop is-6-tablet is-size-7-mobile">I learn to find solutions to complex problems</p>
            <p class="list-title has-text-primary has-text-weight-bold">
              Topic I study:
            </p>
            <ul>
              <li>System & Software Archcture</li>
              <li>UI Designing, UX Development</li>
              <li>Database Structures & Desgin</li>
              <li>Build Systems</li>
              <li>Continuous Intergration</li>
              <li>Version Control Stucture & Flow</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Hobbies -->
  <!-- <section id="hobbies" class="section is-medium has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p><i class="fas fa-camera fa-5x"></i></p>
            <h3>Photography</h3>
            <p>I collect inspiration and memories</p>
          </div>

          <div class="column">
            <p><i class="fas fa-dumbbell fa-5x"></i></p>
            <h3>Fitness</h3>
            <p>I explor </p>
          </div>

          <div class="column">
            <p><i class="fas fa-utensils fa-5x"></i></p>
            <h3>Food</h3>
          </div>
        </div>
      </div>
    </section> -->

  <!-- Projects -->
  <section id="projects" class="section is-medium is-white has-text-centered">
    <div class="container is-narrow">

      <h2 class="title is-spaced is-size-3-desktop is-4-tablet is-size-5-mobile">Recent Projects</h2>
      <p class="subtitle is-spaced is-size-4-desktop is-size-5-tablet is-size-6-mobile">My passion, joy, and skill
        demonstrated in quality applications</p>

      <div class="columns is-multiline is-mobile">

        <!-- Libnav -->
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
          <figure class="image is-3by2">
            <img class="project-thumb" src="<%= require('./assets/projects/libnav/libnav-preview.png') %>" alt="Libnav Project Preview Image" />
            <figcaption class="is-overlay has-text-centered">
              <h4>Libnav</h4>
              <p>Interactive map for Oregon State University Vally Library</p>
              <a href="" class="button is-white is-outlined">View Project</a>
            </figcaption>
          </figure>
        </div>

        <!-- WordSalad -->
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
          <figure class="image is-3by2">
            <img class="project-thumb" src="<%= require('./assets/projects/wordsalad/wordsalad-preview.png') %>" alt="WordSalad Project Preview Image" />

            <figcaption class="is-overlay has-text-centered">
              <h4>WordSalad</h4>
              <p>
                Text Anaysis designed to analyze the authenicity of privity writing samples.
              </p>
              <a href="" class="button is-white is-outlined">View Project</a>
            </figcaption>
          </figure>
        </div>

        <!-- Wwrite365 -->
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
          <figure class="image is-3by2">
            <img class="project-thumb" src="<%= require('./assets/projects/write365/write365-preview.png') %>" alt="Write365 Project Preview Image" />
            <figcaption class="is-overlay has-text-centered">
              <h4>Write365</h4>
              <p>
                Digitial journal to promote writting 365 words a day.
              </p>
              <a href="" class="button is-white is-outlined">View Project</a>
            </figcaption>
          </figure>
        </div>

        <!-- Wwrite365 Research Portal -->
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
          <figure class="image is-3by2">
            <img class="project-thumb" src="<%= require('./assets/projects/write365-research-portal/write365-research-portal-preview.png') %>"
              alt="Write365 Reseach Portal Project Preview Image" />
            <figcaption class="is-overlay has-text-centered">
              <h4>Research Portal</h4>
              <p>
                Display analytical information for researchers of Write365
              </p>
              <a href="" class="button is-white is-outlined">View Project</a>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
    </div>
  </section>

  <!-- Work Expirence -->

  <!-- Footer -->
</body>

</html>