<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nathan Healea</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Nathan Healea Full Stack Developer " />
    <meta
      name="Description"
      content="Nathan Healea a full stack developer, programmer analyst, software engineer, developer portfolio"
    />
    <!-- Open Graph data -->
    <meta property="og:title" content="Webpack basic starter project" />
    <meta property="og:type" content="article" />
    <!-- <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" /> -->
    <!-- <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" /> -->
    <meta
      property="og:description"
      content="Nathan Healea a full stack developer, programmer analyst, software engineer, developer portfolio"
    />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <!-- <meta name="theme-color" content="{{mobileHeaderColor}}"> -->
    <!-- Mobile header color Windows Phone -->
    <!-- <meta name="msapplication-navbutton-color" content="{{mobileHeaderColor}}"> -->
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1>Hello World; I'm Nathan Healea</h1>
          <h3>Full Stack Developer</h3>
          <img
            class="logo"
            src="<%= require('./assets/nathan-healea-logo-white.svg') %>"
            alt="Nathan Healea Portfolio Logo"
          />
          <h4 class="is-uppercase">
            <strong>Webiste Under Maintenance</strong>
          </h4>
          <h3>Contact Me</h3>
          <a href="mailto:nate.healea@gmail.com?subject=Hello%20From%20Website"
            ><p><span class="far fa-envelope"></span> nate.healea@gmail.com</p>
          </a>
          <div class="column is-mobile is-6 is-offset-3">
            <div class="columns">
              <!-- GitHub !-->
              <div class="column">
                <a href="https://github.com/nathanhealea"
                  ><span class="icon-github fa-3x"></span
                ></a>
              </div>
              <!-- Codepen !-->
              <div class="column">
                <a href="https://codepen.io/nathanhealea"
                  ><span class="icon-codepen fa-3x"></span
                ></a>
              </div>
              <!-- Facebook !-->
              <div class="column">
                <a href="https://www.facebook.com/nate.healea"
                  ><span class="icon-facebook fa-3x"></span
                ></a>
              </div>
              <!-- LinkedIn !-->
              <div class="column">
                <a href="https://www.linkedin.com/in/nathanhealea"
                  ><span class="icon-linkedin fa-3x"></span
                ></a>
              </div>
              <!-- Pintrest !-->
              <div class="column">
                <a href="https://www.pinterest.com/nathanhealea"
                  ><span class="icon-pinterest fa-3x"></span
                ></a>
              </div>
              <!-- Instagram !-->
              <div class="column">
                <a href="https://www.instagram.com/nathanhealea"
                  ><span class="icon-instagram fa-3x"></span
                ></a>
              </div>
              <!-- Twitter !-->
              <div class="column">
                <a href="https://twitter.com/nathanhealea"
                  ><span class="icon-twitter fa-3x"></span
                ></a>
              </div>
              <!-- <div class="column"><a href="https://www.behance.net/nathanhealea"><i class="fas fa-behance fa-3x circle-icon" title="Behance"></i></a></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot has-text-centered">
        <p>Copyright &copy; Nathan Healea 2019</p>
        <a
          style='color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;dispaly:block;border-radius:3px'
          href="https://unsplash.com/@noahsilliman?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
          target="_blank"
          rel="noopener noreferrer"
          title="Download free do whatever you want high-resolution photos from Noah Silliman"
          ><span style="display:inline-block;padding:2px 3px"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
              viewBox="0 0 32 32"
            >
              <title>unsplash-logo</title>
              <path
                d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"
              ></path></svg></span
          ><span style="display:inline-block;padding:2px 3px"
            >Noah Silliman</span
          ></a
        >
        <a href="www.bulma.com" target="_blank" class="made-with-bulma"
          ><img
            src="<%= require('./assets/made-with-bulma-transparent-white.png') %>"
            alt="Made Wiht Bulma Transparent White"
        /></a>
      </div>
    </section>
  </body>
</html>
